<h2>My Heroes</h2>
<label for="">Hero Name: </label> <input #heroName />
<button (click)="add(heroName.value); heroName.value=''" > Add </button>
<ul class="heroes">
    <li *ngFor="let hero of heroes" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
        <span class="badge">{{ hero.id }}</span> 
        <span>{{ hero.name }}</span>
        <button class="delete" (click)="delete(hero); $event.stopPropagation()">x</button>
    </li>
</ul>
<div *ngIf="selectedHero">
    <h2>
        {{ selectedHero.name | uppercase }} is my Hero
    </h2>
    <button (click)="gotoDetail()">View Details</button>
</div>